.landingPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100dvh;
    width: 100%;
    background-color: #282c34;
    color: rgb(210, 210, 210);
}
