.container {
    display: grid;
    grid-template-rows: auto auto 1fr;
    gap: 8px;
    height: 100%;
}

.title {
    margin: 0;
    font-size: 24px;
}

.nextSpan {
    margin-right: 8px;
    color: #fff;
}

.description {
    margin: 0;
    color: #fff;
}

.image {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
